.navbar {
    background-color: #232323;
    margin-bottom: 50px;
}

.navbar-brand {
    color: #f4f4f4;
    font-weight: bolder;
    margin-right: 2%;
}

.navbar-brand:hover {
    color: #ff0000a0;
}

.nav-link {
    color: #f4f4f4; 
    font-weight: bold;
    
}

.nav-link:hover {
    color: #ff0000a0;
}

.nav-item {
    margin-left: 20px;
}
.navbar-toggler {
    background-color: #ffffff;
    color: #ffffff;
}

.aboutMe {
    text-align: center;
}

